<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Tarefas</title>
    <link rel="stylesheet" href="/static/css/listar_tarefas.css">
</head>
<body>
    <div class="container">
        <div class="menu">
            <a href="/"><button>Cadastrar</button></a>
            <a href="/tarefas/"><button>Listar</button></a>
        </div>
        <h1>Listagem de Tarefas</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Concluído</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for tarefa in tarefas %}
                <tr>
                    <td>{{ tarefa.id }}</td>
                    <td>{{ tarefa.titulo }}</td>
                    <td>{{ tarefa.descricao }}</td>
                    <td>{{ tarefa.concluido }}</td>
                    <td>
                        <button class="excluir-btn" data-tarefa-id="{{ tarefa.id }}">Excluir</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".excluir-btn").click(function() {
                const tarefaId = $(this).data("tarefa-id");
                excluirTarefa(tarefaId);
            });

            function excluirTarefa(tarefaId) {
                $.ajax({
                    url: "http://localhost:8000/tarefas/" + tarefaId,
                    type: "DELETE",
                    success: function(response) {
                        // Recarrega a página para atualizar a lista
                        window.location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error("Erro ao excluir tarefa:", xhr.responseText);
                        alert("Erro ao excluir tarefa.");
                    }
                });
            }
        });
    </script>
</body>
</html>