<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Tarefas</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Listagem de Tarefas</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Data de Entrega</th>
                    <th>Disciplina</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for tarefa in tarefas %}
                <tr>
                    <td>{{ tarefa.id }}</td>
                    <td>{{ tarefa.nome_tarefa }}</td>
                    <td>{{ tarefa.data_entrega }}</td>
                    <td>{{ tarefa.disciplinas }}</td>
                    <td>
                        <form action="/tarefas/{{ tarefa.id }}" method="post">
                            <input type="submit" value="Excluir">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
